$tittle-line-height: 57.6px;
$tittle-letter-spacing: -0.48px;

$subphtittle-line-height: 38px ;
$subtittlle-letter-spacing: 0px;

$paragraphtittle-line-height: 26px ;
$paragraphtittlle-letter-spacing: 0px;
