// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500;700&display=swap");


// Define fonts for body and headers
$font-primary: "DM Sans", sans-serif;
$font-secondary: "Inter", sans-serif;



// Font Sizes

$font-display-xl-size: 64px;
$font-display-lg-size: 48px;
$font-display-md-size: 38px;

$font-body-lg-size: 20px;
$font-body-md-size: 16px;
$font-body-sm-size: 14px;
