.tittle {
  font-family: $font-primary;
  line-height: $tittle-line-height;
  letter-spacing: $tittle-letter-spacing;
  font-weight: bold;
}


.sub-tittle {
  font-family: $font-secondary;
  line-height: $subtittle-line-height ;
  letter-spacing: $subtittlle-letter-spacing ;
}
