.tittle {
  font-family: $font-primary;
  line-height: $tittle-line-height;
  letter-spacing: $tittle-letter-spacing;
  font-weight: bold;
}

.subtittle {
  font-family: $font-primary;
  line-height: $subphtittle-line-height ;
  letter-spacing: $subtittlle-letter-spacing ;
  font-weight: bold;
}


.paragraph-tittle {
  font-family: $font-secondary;
  line-height: $paragraphtittle-line-height ;
  letter-spacing: $paragraphtittlle-letter-spacing ;
}
