.club-card{

  background: rgba(25, 24, 30, .20);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 16px;
  box-shadow:
    0 10px 10px rgba(0,0,0,.35);


  display:flex;
  flex-direction:column;
  gap:32px;

  padding: 24px;

  transition:
    background .3s ease,
    transform .3s ease,
    box-shadow .3s ease;

}

.club-card:hover {

  transform: translateY(-6px) scale(1.02);

  background: linear-gradient(
    135deg,
    #201F20 1%,
    #52489C 100%
  );


  transform: translateY(-4px);

  box-shadow:
    0 0 24px rgba(0, 190, 200, .12);
}


.club-card-header{

    display:flex;
    align-items:center;


}

.club-card-header h3{

    color: #ffffff;
    font-family: $font-primary;
    font-size: $font-body-lg-size;
    line-height: $paragraphtittle-line-height;
    letter-spacing: $paragraphtittle-letter-spacing;
    font-weight: 600;

}


.club-info{

    flex:1;

    margin-left:16px;

}


.count-member{
  color: #C9C4D3;

}
